body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden; /* Ensure the body doesn't scroll */
}


#circle {
  border-radius: 50%;
  background-color: #ff71ce;
  position: absolute; /* Absolute positioning for better control */

}
